<a href="https://colab.research.google.com/github/HenriqueCCdA/bootCampAluraDataScience/blob/master/modulo2/desafios/Desafio_aula4_modulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Pre-analise

---
## 1.1) Funções de apoio
---

---

---
## 1.2) Bibliotecas utilizadas

* searborn
* pandas
* matplotlib
* datatime
---

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# pandas configuracao
pd.options.display.float_format  ="{:,.2f}".format

---

---
## 1.3) Preparação dos dados 
---

In [13]:
uri = "https://raw.githubusercontent.com/HenriqueCCdA/bootCampAluraDataScience/master/modulo2/desafios/mensal_aberto.csv"

dados = pd.read_csv(uri, usecols=["mes", "uf", "gasto"], index_col="mes")

dados.head()

                   uf  gasto
mes
2008-02-01  São Paulo 172.83
2008-03-01  São Paulo 170.48
2008-04-01  São Paulo 170.28
2008-05-01  São Paulo 172.40
2008-06-01  São Paulo 175.42

# 2) Desafios

---
## 2.1) Desafio 01: Estudar a documentação DateTime do Python, escolha dois métodos para se aprofundar faça alguns testes e compartilhe o conhecimento adquirido com seus colegas no Discord.
---

---
## 2.2) Desafio 02: Aprendemos a usar o Melt para desnormalizar sua base de dados, agora o desafio é realizar o processo contrário, voltar atrás partindo do mensal_aberto chegando no mensal.
---

---

## 2.3) Desafio 03: Melhorar o gráfico da distribuição do gráfico:

* Escolha apenas alguns estados.
* Mude a palete de cores.
* Posicione a legenda de forma mais adequada.
* Adicione título principal e nos eixos x e y.

---