<a href="https://colab.research.google.com/github/HenriqueCCdA/bootCampAluraDataScience/blob/master/modulo4/extra/Explorando_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [418]:
def colunas_selecionadas(colunas: str,
                         colunas_excluidas=[],
                         f_diff: bool=True)->str:

  colunas_excluidas+=["ICU", "WINDOW"]

  colunas_selecionadas = []
  for name in colunas:
    if ("DIFF" in name) and f_diff:
      continue
    elif name in colunas_excluidas:
      continue
    else:
      colunas_selecionadas.append(name)
   
  return colunas_selecionadas


def proporcao_y(y, name:str):
  p = y.value_counts(normalize=True)

  print(f"Proporcao do {name}")
  for l , v in zip(p.index, p.values):
    print(f"Campo {l} ->  {v:.2f}")

def lendo_dados(path):

  dados = pd.read_csv(path)

  nl, nc = dados.shape
  print(f"Número de linhas  :{nl}")
  print(f"Número de colunas :{nc}")

  return dados

def score(y_pre, y_test, verbose: bool = True)-> (float, float):
  tx = sum(y_pre == y_test)/len(y_test)

  if verbose:
    print("*************************")
    print(f"Taxa de acerto {tx:.2f}")
    print("*************************")

  return tx


def run_LogisticRegression(dados, 
                           seed, 
                           colunas_excluidas= [], 
                           f_diff: bool = True,
                           verbose: bool = True)-> float:
  
  x = dados[colunas_selecionadas(dados.columns, colunas_excluidas, f_diff)]
  y = dados.iloc[:,-1]
  
  np.random.seed(seed)

  x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y)

  if verbose:
    print(x.columns.tolist())
    print("********************************************")
    print(f"Numero de variaveis          = {x.shape[1]}")
    print(f"Numero de amostras de treino = {x.shape[0]}")
    print("********************************************")

  if verbose:
    proporcao_y(y      , "y")
    proporcao_y(y_test , "y_test")
    proporcao_y(y_train, "y_train")

  modelo = LogisticRegression(max_iter=5000, verbose=0, tol=1e-8, C=0.1)

  modelo.fit(x_train, y_train)

  y_hat = modelo.predict(x_train)
  y_pred = modelo.predict(x_test)

  s_train = score(y_hat , y_train, verbose)
  s_test   = score(y_pred, y_test, verbose)

  return s_test, s_train

In [410]:
dados = lendo_dados("dados_tratados_por_paciente.csv")

Número de linhas  :351
Número de colunas :231

In [411]:
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...  WINDOW  ICU
0                         0            1  ...     0-2    1
1                         2            0  ...     0-2    1
2                         3            0  ...     0-2    0
3                         4            0  ...     0-2    0
4                         5            0  ...     0-2    0

[5 rows x 231 columns]

In [412]:
run_LogisticRegression(dados, seed=146731, f_diff=False, verbose = True)

['PATIENT_VISIT_IDENTIFIER', 'AGE_ABOVE65', 'AGE_PERCENTIL', 'GENDER', 'DISEASE GROUPING 1', 'DISEASE GROUPING 2', 'DISEASE GROUPING 3', 'DISEASE GROUPING 4', 'DISEASE GROUPING 5', 'DISEASE GROUPING 6', 'HTN', 'IMMUNOCOMPROMISED', 'OTHER', 'ALBUMIN_MEDIAN', 'ALBUMIN_MEAN', 'ALBUMIN_MIN', 'ALBUMIN_MAX', 'ALBUMIN_DIFF', 'BE_ARTERIAL_MEDIAN', 'BE_ARTERIAL_MEAN', 'BE_ARTERIAL_MIN', 'BE_ARTERIAL_MAX', 'BE_ARTERIAL_DIFF', 'BE_VENOUS_MEDIAN', 'BE_VENOUS_MEAN', 'BE_VENOUS_MIN', 'BE_VENOUS_MAX', 'BE_VENOUS_DIFF', 'BIC_ARTERIAL_MEDIAN', 'BIC_ARTERIAL_MEAN', 'BIC_ARTERIAL_MIN', 'BIC_ARTERIAL_MAX', 'BIC_ARTERIAL_DIFF', 'BIC_VENOUS_MEDIAN', 'BIC_VENOUS_MEAN', 'BIC_VENOUS_MIN', 'BIC_VENOUS_MAX', 'BIC_VENOUS_DIFF', 'BILLIRUBIN_MEDIAN', 'BILLIRUBIN_MEAN', 'BILLIRUBIN_MIN', 'BILLIRUBIN_MAX', 'BILLIRUBIN_DIFF', 'BLAST_MEDIAN', 'BLAST_MEAN', 'BLAST_MIN', 'BLAST_MAX', 'BLAST_DIFF', 'CALCIUM_MEDIAN', 'CALCIUM_MEAN', 'CALCIUM_MIN', 'CALCIUM_MAX', 'CALCIUM_DIFF', 'CREATININ_MEDIAN', 'CREATININ_MEAN', 'CREATININ_MIN', 'CREATININ_MAX', 'CREATININ_DIFF', 'FFA_MEDIAN', 'FFA_MEAN', 'FFA_MIN', 'FFA_MAX', 'FFA_DIFF', 'GGT_MEDIAN', 'GGT_MEAN', 'GGT_MIN', 'GGT_MAX', 'GGT_DIFF', 'GLUCOSE_MEDIAN', 'GLUCOSE_MEAN', 'GLUCOSE_MIN', 'GLUCOSE_MAX', 'GLUCOSE_DIFF', 'HEMATOCRITE_MEDIAN', 'HEMATOCRITE_MEAN', 'HEMATOCRITE_MIN', 'HEMATOCRITE_MAX', 'HEMATOCRITE_DIFF', 'HEMOGLOBIN_MEDIAN', 'HEMOGLOBIN_MEAN', 'HEMOGLOBIN_MIN', 'HEMOGLOBIN_MAX', 'HEMOGLOBIN_DIFF', 'INR_MEDIAN', 'INR_MEAN', 'INR_MIN', 'INR_MAX', 'INR_DIFF', 'LACTATE_MEDIAN', 'LACTATE_MEAN', 'LACTATE_MIN', 'LACTATE_MAX', 'LACTATE_DIFF', 'LEUKOCYTES_MEDIAN', 'LEUKOCYTES_MEAN', 'LEUKOCYTES_MIN', 'LEUKOCYTES_MAX', 'LEUKOCYTES_DIFF', 'LINFOCITOS_MEDIAN', 'LINFOCITOS_MEAN', 'LINFOCITOS_MIN', 'LINFOCITOS_MAX', 'LINFOCITOS_DIFF', 'NEUTROPHILES_MEDIAN', 'NEUTROPHILES_MEAN', 'NEUTROPHILES_MIN', 'NEUTROPHILES_MAX', 'NEUTROPHILES_DIFF', 'P02_ARTERIAL_MEDIAN', 'P02_ARTERIAL_MEAN', 'P02_ARTERIAL_MIN', 'P02_ARTERIAL_MAX', 'P02_ARTERIAL_DIFF', 'P02_VENOUS_MEDIAN', 'P02_VENOUS_MEAN', 'P02_VENOUS_MIN', 'P02_VENOUS_MAX', 'P02_VENOUS_DIFF', 'PC02_ARTERIAL_MEDIAN', 'PC02_ARTERIAL_MEAN', 'PC02_ARTERIAL_MIN', 'PC02_ARTERIAL_MAX', 'PC02_ARTERIAL_DIFF', 'PC02_VENOUS_MEDIAN', 'PC02_VENOUS_MEAN', 'PC02_VENOUS_MIN', 'PC02_VENOUS_MAX', 'PC02_VENOUS_DIFF', 'PCR_MEDIAN', 'PCR_MEAN', 'PCR_MIN', 'PCR_MAX', 'PCR_DIFF', 'PH_ARTERIAL_MEDIAN', 'PH_ARTERIAL_MEAN', 'PH_ARTERIAL_MIN', 'PH_ARTERIAL_MAX', 'PH_ARTERIAL_DIFF', 'PH_VENOUS_MEDIAN', 'PH_VENOUS_MEAN', 'PH_VENOUS_MIN', 'PH_VENOUS_MAX', 'PH_VENOUS_DIFF', 'PLATELETS_MEDIAN', 'PLATELETS_MEAN', 'PLATELETS_MIN', 'PLATELETS_MAX', 'PLATELETS_DIFF', 'POTASSIUM_MEDIAN', 'POTASSIUM_MEAN', 'POTASSIUM_MIN', 'POTASSIUM_MAX', 'POTASSIUM_DIFF', 'SAT02_ARTERIAL_MEDIAN', 'SAT02_ARTERIAL_MEAN', 'SAT02_ARTERIAL_MIN', 'SAT02_ARTERIAL_MAX', 'SAT02_ARTERIAL_DIFF', 'SAT02_VENOUS_MEDIAN', 'SAT02_VENOUS_MEAN', 'SAT02_VENOUS_MIN', 'SAT02_VENOUS_MAX', 'SAT02_VENOUS_DIFF', 'SODIUM_MEDIAN', 'SODIUM_MEAN', 'SODIUM_MIN', 'SODIUM_MAX', 'SODIUM_DIFF', 'TGO_MEDIAN', 'TGO_MEAN', 'TGO_MIN', 'TGO_MAX', 'TGO_DIFF', 'TGP_MEDIAN', 'TGP_MEAN', 'TGP_MIN', 'TGP_MAX', 'TGP_DIFF', 'TTPA_MEDIAN', 'TTPA_MEAN', 'TTPA_MIN', 'TTPA_MAX', 'TTPA_DIFF', 'UREA_MEDIAN', 'UREA_MEAN', 'UREA_MIN', 'UREA_MAX', 'UREA_DIFF', 'DIMER_MEDIAN', 'DIMER_MEAN', 'DIMER_MIN', 'DIMER_MAX', 'DIMER_DIFF', 'BLOODPRESSURE_DIASTOLIC_MEAN', 'BLOODPRESSURE_SISTOLIC_MEAN', 'HEART_RATE_MEAN', 'RESPIRATORY_RATE_MEAN', 'TEMPERATURE_MEAN', 'OXYGEN_SATURATION_MEAN', 'BLOODPRESSURE_DIASTOLIC_MEDIAN', 'BLOODPRESSURE_SISTOLIC_MEDIAN', 'HEART_RATE_MEDIAN', 'RESPIRATORY_RATE_MEDIAN', 'TEMPERATURE_MEDIAN', 'OXYGEN_SATURATION_MEDIAN', 'BLOODPRESSURE_DIASTOLIC_MIN', 'BLOODPRESSURE_SISTOLIC_MIN', 'HEART_RATE_MIN', 'RESPIRATORY_RATE_MIN', 'TEMPERATURE_MIN', 'OXYGEN_SATURATION_MIN', 'BLOODPRESSURE_DIASTOLIC_MAX', 'BLOODPRESSURE_SISTOLIC_MAX', 'HEART_RATE_MAX', 'RESPIRATORY_RATE_MAX', 'TEMPERATURE_MAX', 'OXYGEN_SATURATION_MAX', 'BLOODPRESSURE_DIASTOLIC_DIFF', 'BLOODPRESSURE_SISTOLIC_DIFF', 'HEART_RATE_DIFF', 'RESPIRATORY_RATE_DIFF', 'TEMPERATURE_DIFF', 'OXYGEN_SATURATION_DIFF', 'BLOODPRESSURE_DIASTOLIC_DIFF_REL', 'BLOODPRESSURE_SISTOLIC_DIFF_REL', 'HEART_RATE_DIFF_REL', 'RESPIRATORY_RATE_DIFF_REL', 'TEMPERATURE_DIFF_REL', 'OXYGEN_SATURATION_DIFF_REL']
********************************************
Numero de variaveis          = 229
Numero de amostras de treino = 351
********************************************
Proporcao do y
Campo 0 ->  0.54
Campo 1 ->  0.46
Proporcao do y_test
Campo 0 ->  0.53
Campo 1 ->  0.47
Proporcao do y_train
Campo 0 ->  0.54
Campo 1 ->  0.46
*************************
Taxa de acerto 0.79
*************************
*************************
Taxa de acerto 0.66
*************************

(0.6590909090909091, 0.7908745247148289)

In [413]:
lista_sementes = [ 61367,  78668,  76592,   49310,  2825,
                 	 34136,  14747,  65643,   94788, 31840,
                   54546,	 71546,  95580,   32717,  1918,	
                   20892,	 18289,	  6295,	   8375,  1648,
                   65323,	 58650,	 70938,	  41914,	7960,
                   73762,	 76050,	 22706,	  39405, 70837]

In [419]:
res_treino = []
res_teste  = []

for semente in lista_sementes:

  test1, train1 = run_LogisticRegression(dados, seed=semente, f_diff=False, verbose = False)
  test2, train2 = run_LogisticRegression(dados, seed=semente,
                       colunas_excluidas=["PATIENT_VISIT_IDENTIFIER"], 
                       f_diff=True, verbose = False)
  test3, train3 = run_LogisticRegression(dados, seed=semente,
                       colunas_excluidas=["PATIENT_VISIT_IDENTIFIER", "AGE_ABOVE65"], 
                       f_diff=True, verbose = False)
  test4, train4 = run_LogisticRegression(dados, seed=semente,
                       colunas_excluidas=["PATIENT_VISIT_IDENTIFIER", "AGE_PERCENTIL"], 
                       f_diff=True, verbose = False)
  
  res_teste.append((test1, test2, test3, test4))
  res_treino.append((train1, train2, train3, train4))

res_treino = np.array(res_treino)
res_teste  = np.array(res_teste)

In [420]:
res = pd.DataFrame(data={'sementes':lista_sementes,
                   'l1_test'       :res_teste[:,0],
                   'l1_train'      :res_treino[:,0],
                   'l2_test'       :res_teste[:,1],
                   'l2_train'      :res_treino[:,1],
                   'l3_test'       :res_teste[:,2],  
                   'l3_train'      :res_treino[:,2],                   
                   'l4_test'       :res_teste[:,3],                 
                   'l4_train'      :res_treino[:,3]
                   })
res.head()

   sementes   l1_test  l1_train  ...  l3_train   l4_test  l4_train
0     61367  0.681818  0.794677  ...  0.764259  0.681818  0.764259
1     78668  0.681818  0.775665  ...  0.768061  0.715909  0.749049
2     76592  0.784091  0.737643  ...  0.722433  0.761364  0.756654
3     49310  0.693182  0.764259  ...  0.745247  0.738636  0.730038
4      2825  0.727273  0.760456  ...  0.752852  0.704545  0.752852

[5 rows x 9 columns]

In [421]:
col = res.columns[1:]
medias = res[col].mean()
medianas = res[col].median()
desvio_padrao = res[col].std()

In [422]:
pd.DataFrame(data={'medias'       :medias,
                   'mediana'      :medianas,               
                   'desvio_padrao':desvio_padrao
                   }).T

                l1_test  l1_train   l2_test  ...  l3_train   l4_test  l4_train
medias         0.711364  0.762231  0.709470  ...  0.751838  0.712879  0.750570
mediana        0.710227  0.764259  0.704545  ...  0.754753  0.704545  0.752852
desvio_padrao  0.037936  0.014902  0.039667  ...  0.016314  0.044257  0.016212

[3 rows x 8 columns]