<a href="https://colab.research.google.com/github/HenriqueCCdA/bootCampAluraDataScience/blob/master/modulo1/desafios/Desafio_aula1_modulo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import pandas as pd
from io import StringIO

---
# Desafio 01 - Entre nos dados do wikipedia e Leia a Base de dados direto do wikipedia.
---

In [141]:
uri = "https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o"

pop_html = pd.read_html(uri)

In [142]:
type(pop_html) # tipo do objeto retornado

list

In [143]:
len(pop_html) # numero de itens

5

In [144]:
pop_html[0].head() # Populacao por unidade da federacao

   Posição Unidade federativa  ... % da pop. total País comparável (habitantes)
0        1          São Paulo  ...           21,9%         Espanha (46 439 864)
1        2       Minas Gerais  ...           10,1%       Sri Lanka (20 675 000)
2        3     Rio de Janeiro  ...            8,2%   Países Baixos (16 922 900)
3        4              Bahia  ...            7,1%           Chade (14 037 000)
4        5             Paraná  ...            5,4%         Bolívia (11 410 651)

[5 rows x 5 columns]

In [145]:
pop_html[1]  # Populacao por regiao

   Posição  ...                 País comparável (habitantes)
0        1  ...  República Democrática do Congo (86 790 567)
1        2  ...                   África do Sul (58 775 022)
2        3  ...                           Nepal (29 609 623)
3        4  ...                     Cazaquistão (18 574 680)
4        5  ...                         Senegal (16 209 125)

[5 rows x 5 columns]

In [146]:
pop_html[2]  # Códigos hierárquicos IBGE

                   Região                                                UFs
0         Norte prefixo 1          RO AC AM RR PA AP TO 11 12 13 14 15 16 17
1      Nordeste prefixo 2  MA PI CE RN PB PE AL SE BA 21 22 23 24 25 26 2...
2       Sudeste prefixo 3                            MG ES RJ SP 31 32 33 35
3           Sul prefixo 4                                  PR SC RS 41 42 43
4  Centro-Oeste prefixo 5                            MS MT GO DF 50 51 52 53

In [147]:
pop_html[3]

   vdeClassificações das unidades federativas do Brasil vdeClassificações das unidades federativas do Brasil.1
0                         Características geográficas    Área Densidade demográfica Número de município...
1                            Indicadores demográficos    População Densidade demográfica Natalidade Fec...
2                                      Gestão pública    Sedes governamentais Transparência Arrecadação...
3                    Indicadores econômicos e sociais    PIB Série histórica 1939 1950 1960 1970 1980 1...
4                                                 PIB    Série histórica 1939 1950 1960 1970 1980 1990 ...
5                                            Trabalho    Empregados com carteira assinada Desemprego Ap...
6                            Desigualdade e bem-estar    Segurança alimentar Renda per capita IDH segun...
7                                            Educação    Alfabetização Crianças e adolescentes fora da ...
8                                               Saúde    Mortalidade infantil Óbitos infantis Taxa de h...
9                                              Outros    Religião Circunscrições eclesiásticas Competit...
10                                           Símbolos                              Bandeiras Brasões Hinos

In [148]:
pop_html[4] # Classificações das unidades federativas do Brasil

                          0                                                  1
0                       PIB  Série histórica 1939 1950 1960 1970 1980 1990 ...
1                  Trabalho  Empregados com carteira assinada Desemprego Ap...
2  Desigualdade e bem-estar  Segurança alimentar Renda per capita IDH segun...
3                  Educação  Alfabetização Crianças e adolescentes fora da ...
4                     Saúde  Mortalidade infantil Óbitos infantis Taxa de h...
5                    Outros  Religião Circunscrições eclesiásticas Competit...

In [149]:
pop = pop_html[0].copy()
pop.head()

   Posição Unidade federativa  ... % da pop. total País comparável (habitantes)
0        1          São Paulo  ...           21,9%         Espanha (46 439 864)
1        2       Minas Gerais  ...           10,1%       Sri Lanka (20 675 000)
2        3     Rio de Janeiro  ...            8,2%   Países Baixos (16 922 900)
3        4              Bahia  ...            7,1%           Chade (14 037 000)
4        5             Paraná  ...            5,4%         Bolívia (11 410 651)

[5 rows x 5 columns]



---



---

# Desafio 02 - Neste desafio temos uma série de passos:



* Pradonizar os nomes das colunas
* Transformar os dados nos tipos corretos
* Tansformar a UF em index

In [150]:
pop.columns

Index(['Posição', 'Unidade federativa', 'População', '% da pop. total',
       'País comparável (habitantes)'],
      dtype='object')

In [151]:
pop.drop(['Posição','País comparável (habitantes)'], axis=1, inplace=True)

In [152]:
pop.head()

  Unidade federativa   População % da pop. total
0          São Paulo  46 289 333           21,9%
1       Minas Gerais  21 292 666           10,1%
2     Rio de Janeiro  17 366 189            8,2%
3              Bahia  14 930 634            7,1%
4             Paraná  11 516 840            5,4%

In [153]:
pop.columns = ['UF', 'populacao', '% da pop. total']
pop.head()

               UF   populacao % da pop. total
0       São Paulo  46 289 333           21,9%
1    Minas Gerais  21 292 666           10,1%
2  Rio de Janeiro  17 366 189            8,2%
3           Bahia  14 930 634            7,1%
4          Paraná  11 516 840            5,4%

In [154]:
pop.set_index('UF', inplace=True)
pop.head()

                 populacao % da pop. total
UF
São Paulo       46 289 333           21,9%
Minas Gerais    21 292 666           10,1%
Rio de Janeiro  17 366 189            8,2%
Bahia           14 930 634            7,1%
Paraná          11 516 840            5,4%

In [155]:
pop.iloc[0,0].replace(" ", "") # tira o espacao

'46289333'

In [156]:
int(pop.iloc[0,0].replace(" ", "")) #transforma para um numero do tipo inteiro

46289333

In [157]:
pop['populacao'] = pop['populacao'].str.replace(" ", "").astype('int')

In [158]:
pop.head()

                populacao % da pop. total
UF
São Paulo        46289333           21,9%
Minas Gerais     21292666           10,1%
Rio de Janeiro   17366189            8,2%
Bahia            14930634            7,1%
Paraná           11516840            5,4%



---



---


# Desafio 03 - Buscar na documentação alguns métodos envolvendo strings


---



---

In [85]:
d = {'col1': ['   Espaço em branco', 'aABa']}

df = pd.DataFrame(d, dtype='string')
df

                  col1
0     Espaço em branco
1                 aABa

In [86]:
df.iloc[0, 0]

'   Espaço em branco'

In [87]:
df.iloc[0, 0].rstrip() # retira os espaços em branco da direita

'   Espaço em branco'

In [88]:
df.iloc[0, 0].lstrip() # retira os espaços em branco da esquerta

'Espaço em branco'

In [89]:
df.col1.str.lower() # Transforma tudo em minuscula

0       espaço em branco
1                   aaba
Name: col1, dtype: string

In [90]:
df.col1.str.upper() # Transforma tudo em maiscula

0       ESPAÇO EM BRANCO
1                   AABA
Name: col1, dtype: string

---
# Desafio 04 - Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida".
---

> Gerando o DataFrame gastos_mais_recentes

In [182]:
uri = "https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A160324189_28_143_208.csv"

dados = pd.read_csv(uri, 
                    encoding="ISO-8859-1",
                    skiprows = 3, sep=";", 
                    skipfooter=12,
                    thousands=".",
                    decimal=",",
                    engine='python')

colunas_usaveis = dados.mean().index.tolist()
colunas_usaveis.insert(0, "Unidade da Federação")
dados_usaveis = dados[colunas_usaveis]
dados_usaveis = dados_usaveis.set_index("Unidade da Federação")
dados_usaveis["Total"] = dados_usaveis.sum(axis=1)
dados_usaveis.head(n=1)
ordenado_por_total = dados_usaveis.sort_values("Total", ascending=False)/1e6
ordenado_por_total = ordenado_por_total.drop("Total", axis=1)
mes_mais_recente = ordenado_por_total.columns[-1]
gastos_do_ultimo_mes = ordenado_por_total[mes_mais_recente]
gastos_mais_recentes = gastos_do_ultimo_mes.sort_values(ascending=False)

In [183]:
dados_da_populacao = """Posição	Unidade federativa	População	% da pop. total	País comparável
(habitantes)

1	 São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	 Minas Gerais	21 292 666	10,1%	 Sri Lanka (20 675 000)
3	 Rio de Janeiro	17 366 189	8,2%	 Países Baixos (16 922 900)
4	 Bahia Bahia	14 930 634	7,1%	 Chade (14 037 000)
5	 Paraná	11 516 840	5,4%	 Bolívia (11 410 651)
6	 Rio Grande do Sul	11 422 973	5,4%	 Bélgica (11 250 659)
7	 Pernambuco	9 616 621	4,5%	 Bielorrússia (9 485 300)
8	 Ceará	9 187 103	4,3%	 Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	 Áustria (8 602 112)
10	 Santa Catarina	7 252 502	3,4%	 Sérvia (7 114 393)
11	 Maranhão	7 114 598	3,4%	 Paraguai (7 003 406)
12	 Goiás	7 113 540	3,4%	 Paraguai (7 003 406)
13	 Amazonas	4 207 714	2,0%	 Líbano (4 168 000)
14	 Espírito Santo	4 064 052	1,9%	 Líbano (4 168 000)
15	 Paraíba	4 039 277	1,9%	 Líbano (4 168 000)
16	 Rio Grande do Norte	3 534 165	1,7%	 Uruguai (3 415 866)
17	 Mato Grosso	3 526 220	1,7%	 Uruguai (3 415 866)
18	 Alagoas	3 351 543	1,6%	 Uruguai (3 415 866)
19	 Piauí	3 281 480	1,6%	 Kuwait (3 268 431)
20	 Distrito Federal	3 055 149	1,4%	 Lituânia (2 900 787)
21	 Mato Grosso do Sul	2 809 394	1,3%	 Jamaica (2 717 991)
22	 Sergipe	2 318 822	1,1%	 Namíbia (2 280 700)
23	 Rondônia	1 796 460	0,8%	 Gabão (1 725 000)
24	 Tocantins	1 590 248	0,7%	 Bahrein (1 359 800)
25	 Acre	894 470	0,4%	 Fiji (859 178)
26	 Amapá	861 773	0,4%	 Fiji (859 178)
27	 Roraima	631 181	0,3%	 Luxemburgo (562 958)
"""

In [189]:
def tratamento_dados(pop, gastos):
  """
  Trata as tabela da populcao e gastos mais recenter. Apos o tratamento essas
  tabela são unidas
  -----------------------------------------------------------------------------
  @param pop - Tabela da populacao
  @param gastos - Tabela dos gastos mais recentes
  ----------------------------------------------------------------------------
  @return Tabela da populacao tratada e unida com a tabela de gastos
  """
  cpop = pop.copy()

  cpop = cpop.dropna()

  cpop["populacao"] = cpop["População"].str.replace(" ", "").astype(int)
  cpop["uf"] = cpop["Unidade federativa"]
  cpop =  cpop[["populacao", "uf"]].set_index("uf")

  cpop.index = cpop.index.str.strip()
  
  cgastos = gastos.copy()
  cgastos.index = cgastos.index.str[3:]

  for estado in cgastos.index:
    cpop.index = cpop.index.str.replace(f"{estado} {estado}", estado)

  return cpop, cpop.join(cgastos)

In [190]:
dados_da_populacao_io = StringIO(dados_da_populacao)

populacao = pd.read_csv(dados_da_populacao_io, sep="\t")

populacao_tratada, tabela_unida = tratamento_dados(populacao, gastos_mais_recentes) # chamada da funcao

In [192]:
tabela_unida

                     populacao    2020/Jul
uf
São Paulo             46289333  282.709570
Minas Gerais          21292666  120.467187
Rio de Janeiro        17366189   71.540227
Bahia                 14930634   58.898100
Paraná                11516840   80.320853
Rio Grande do Sul     11422973   78.929704
Pernambuco             9616621   62.325444
Ceará                  9187103   30.809221
Pará                   8690745   27.618728
Santa Catarina         7252502   51.764535
Maranhão               7114598   24.374205
Goiás                  7113540   33.499284
Amazonas               4207714   13.358514
Espírito Santo         4064052   27.460475
Paraíba                4039277   15.491469
Rio Grande do Norte    3534165   19.593057
Mato Grosso            3526220   13.083152
Alagoas                3351543   13.087850
Piauí                  3281480   18.019214
Distrito Federal       3055149   22.233542
Mato Grosso do Sul     2809394   12.508717
Sergipe                2318822    3.312766
Rondônia               1796460    7.407388
Tocantins              1590248    4.489666
Acre                    894470    1.163813
Amapá                   861773    2.155083
Roraima                 631181    2.739498

In [193]:
populacao_tratada

                     populacao
uf
São Paulo             46289333
Minas Gerais          21292666
Rio de Janeiro        17366189
Bahia                 14930634
Paraná                11516840
Rio Grande do Sul     11422973
Pernambuco             9616621
Ceará                  9187103
Pará                   8690745
Santa Catarina         7252502
Maranhão               7114598
Goiás                  7113540
Amazonas               4207714
Espírito Santo         4064052
Paraíba                4039277
Rio Grande do Norte    3534165
Mato Grosso            3526220
Alagoas                3351543
Piauí                  3281480
Distrito Federal       3055149
Mato Grosso do Sul     2809394
Sergipe                2318822
Rondônia               1796460
Tocantins              1590248
Acre                    894470
Amapá                   861773
Roraima                 631181